html,
body,
#root {
    height: 100% !important;
    margin: 0 !important;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* HEADER */
header {
    display: flex;
    flex-direction: row;
    height: 50px;
}

nav {
    display: flex;
    flex-direction: row;
    width: 100vw;
}

nav button {
    width: 50px;
    height: 50px;
    border: none;
    background-color: inherit;
}

nav button i {
    margin: 0px !important;
}

.search-wrapper {
    flex-grow: 1;
    padding: 2px 10px;
    border-left: 1px solid rgba(34, 36, 38, 0.1);
    border-right: 1px solid rgba(34, 36, 38, 0.1);
}

.search-wrapper .ui.category.fluid.search {
    width: 100%;
    height: 100%;
}

.search-wrapper .input {
    width: 100%;
}

#searchInput {
    height: 46px;
    width: 100%;
    font-size: 1.4em;
}

.results.transition {
    max-height: 50vh;
    overflow-y: scroll;
}
/* END HEADER */

/* MAIN */
main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* CURRENT COLOR */
.current-color {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.current-color div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.current-color div:first-child,
.current-color div:last-child {
    width: 20%;
}

.current-color div {
    width: 60%;
    text-align: center;
    padding: 0px 5px;
}
/* END CURRENT COLOR */

/* SIMILAR COLORS */
.similar-colors-wrapper {
    display: flex;
    flex-grow: 3;
    flex-direction: row;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.similar-color div {
    height: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 5px;
}

.similar-color div:first-child,
.similar-color div:last-child {
    height: 20%;
}

.similar-color {
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 1;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    min-width: 160px;
}
/* END SIMILAR COLORS */
/* END MAIN */

/* FOOTER */
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    height: 50px;
}

footer h4 {
    color: black !important;
}

#footerline {
    flex-grow: 1;
    margin: 0px 20px;
    /* border-bottom: 2px solid black; */
    height: 6px;
    border-radius: 10px;
}

#footerline {
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(bottom, #ffffff 0%, #00a3ef 100%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(bottom, #ffffff 0%, #00a3ef 100%);

    /* Opera */
    background-image: -o-linear-gradient(bottom, #ffffff 0%, #00a3ef 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ffffff), color-stop(1, #00a3ef));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(bottom, #ffffff 0%, #00a3ef 100%);

    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to left, #dddddd 0%, #14d824 100%);
}
/* END FOOTER */

h1,
h2,
h3,
h4,
h5 {
    opacity: 0.7 !important;
    color: white !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

h3,
h4,
h5 {
    font-weight: 400;
}

i.icon {
    font-size: 1.4em;
}
